<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/employee">Employee</a></li>
        <li><a href="/employer">Employer</a></li>
        <li><a href="/locationmanager">Locationmanager</a></li>
        <li><a href="/memberclub">Memberclub</a></li>
    </ul>
</nav>
