<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home- NoSql</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Style CSS -->
    <link href="styles/home.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="scripts/jquery.min.js"></script>
    <!-- Bootstrap Javascript -->
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/app.js"></script>
</head>

<body>
    <section>
        <div>
            <p>
                <a href="/home">
              <img src="images/COFFEEBEAVERLOGO.png">
        </a>
            </p>
        </div>

        <div>
            <p id="p1"> Welcome Boss! </p>
        </div>
        <div class="form-group">
            <label for="inputBranch">Who are you Boss?</label>
            <form class="form-inline" id="branch" method="POST" action="/boss">
                <select class="form-control" id="inputBranch" name="boss">
                  <% employees.employees.forEach(function(item){ %>
                      <option><%= item %></option>
                  <% }); %>
                </select>
                <br>
                <label for="inputBranch">Who we talking about Boss?</label>
                <br>
                <select class="form-control" id="inputBranch" name="cashier">
                  <% cashiers.cashiers.forEach(function(item){ %>
                      <option><%= item %></option>
                  <% }); %>
                </select>
                <br>
                <label for="inputBranch">What is to be said Boss?</label>
                <br>
                <textarea rows="6" cols="50" name="comment">
                </textarea>
                <br>
                <button type="submit" class="btn btn-primary">submit</button>
            </form>
        </div>
    </section>

    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">NoSQL project by Andreas Andersson, Gabriel Ekstedt, Jody O'Neil and Sara-Sofia Lundin</p>
        </div>
    </footer>

</body>

</html>
