<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="images/cb_icon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Style CSS -->
    <link href="styles/home.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="scripts/jquery.min.js"></script>
    <!-- Bootstrap Javascript -->
    <script src="scripts/bootstrap.min.js"></script>
    <!-- Javascript -->
    <!--<script src="scripts/app.js"></script>-->
    <meta charset="UTF-8">
    <title>Employer - CB</title>
</head>
<body>
    <% include partials/nav.ejs %>
<section>
  <div>
  <p>
    <a href="/home">
      <img src="images/COFFEEBEAVERLOGO.png">
    </a>
  </p>
</div>

<div>
  <p id="p1">Employers only</p>
</div>

<div>
  <form class="form-inline" id="employeeID">
    <div class="form-group">
      <label for="exampleSelect1">Employee:</label>
      <select class="form-control" id="employeeID">
        <option>Andreas</option>
        <option>Gabriel</option>
        <option>Jody</option>
        <option>Sara</option>
      </select>
      <button type="submit" class="btn btn-primary">Ok!</button>
   </div>
      <br/><br/>

<form class="form-inline" id="about_employees">
    <div class="form-group">
      <div class="panel panel-default">
      <label for="id">ID</label>
        <div class="panel-body"> </div>
      </div>
    </div>
<div class="form-group">
      <div class="panel panel-default">
      <label for="firstname">Firstname</label>
        <div class="panel-body"> </div>
      </div>
    </div>
<div class="form-group">
      <div class="panel panel-default">
      <label for="firstname">Lastname</label>
        <div class="panel-body"> </div>
      </div>
    </div>
  </form>

      <br/>
   <div class="form-group">
      <label for="comment">Write new comment:</label><br/>
      <input type="comment" class="form-control" id="comment" maxlenght="300" data-bind="value:comment">
   </div><br/>
    <form class="form-inline" id="employerID">
    <div class="form-group">
      <label for="exampleSelect1">Employer:</label>
      <select class="form-control" id="employerID">
        <option>Gabriel</option>
        <option>Jody</option>
        <option>Sara</option>
        <option>Andreas</option>
      </select>

   </div>
      <button type="submit" class="btn btn-primary">Ok!</button>
  </form>
    </div>
  </form>





<!--Footer-->
<footer class="footer">
    <div class="container">
        <p class="text-muted">NoSQL project by Andreas Andersson, Gabriel Ekstedt, Jody O'Neil and Sara-Sofia Lundin</p>
    </div>
</footer>

</body>
</html>
