<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="images/cb_icon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Style CSS -->
    <link href="styles/home.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="scripts/jquery.min.js"></script>
    <!-- Bootstrap Javascript -->
    <script src="scripts/bootstrap.min.js"></script>
    <!-- Javascript -->
    <!--<script src="scripts/app.js"></script>-->
    <meta charset="UTF-8">
    <title>Location Manager - CB </title>
    <script src="scripts/location.js"></script>
</head>

<body>

    <section>
        <div id="div">
            <p>
                <a href="/home">
      <img src="images/COFFEEBEAVERLOGO.png">
    </a>
            </p>
        </div>

        <div2 id="div">
            <p1 id="p1"> Welcome! What report do you need today? </p1>
        </div2>

        <div class="form-group">
            <label for="inputBranch">Which branch do you manage?</label>

            <form class="form-inline" id="branch" method="POST" action="/branchNames">
                <select class="form-control" id="branchName" name="branchName">
          <% locations.locations.forEach(function(item){ %>
              <option value="<%=item.id%>"><%= item.street %></option>
          <% }); %>
      </select>
                <select class="form-control" data-target=".my-info-1" name="reportSelect">
          <option>----Select report----</option>
    <option value="sales_time">Sales during time</option>
    <option value="orders_employee_time">Orders per employee and time</option>
    </select>
                <button type="submit" class="btn btn-primary">submit</button>
            </form>
        </div>

    </section>

    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">NoSQL project by Andreas Andersson, Gabriel Ekstedt, Jody O'Neil and Sara-Sofia Lundin</p>
        </div>
    </footer>

</body>

</html>