<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="images/cb_icon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Style CSS -->
    <link href="styles/home.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="scripts/jquery.min.js"></script>
    <!-- Bootstrap Javascript -->
    <script src="scripts/bootstrap.min.js"></script>
    <!-- Javascript -->
    <script src="scripts/insertAndUpdate.js"></script>
    <script src="scripts/memberclub.js"></script>


    <title>Member Club- CB</title>
</head>

<body>
    <section>
        <div id="div">
            <p>
                <a href="/home">
      <img src="images/COFFEEBEAVERLOGO.png">
    </a>
            </p>
        </div>

        <div class="div">
            <p1 id="p1"> Succes <%=name%>! To return, click the bever. </p1>
        </div>

        <div>

        </div>
    </section>

    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">NoSQL project by Andreas Andersson, Gabriel Ekstedt, Jody O'Neil and Sara-Sofia Lundin</p>
        </div>
    </footer>

</body>

</html>
