html,body{
    min-height: 100%;
    width:100%;
    text-align: center;

}
section{
    margin: 5%;

}

#div{
width: 100%;
}

#p1{
  width: 100%;
  font-size: 200%;
}

.hide {
  display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 30px;
    text-align: center;
    background-color: #f5f5f5;
}
